Repository dsm23/dsm23-next-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check

ci(mergify): use or operator for renovate/stability-days
  .mergify.yml
Due: prettier --check

ci(renovate): explicitly group nextjs packages
  renovate.json
Due: prettier --check

ci(docker): add cleanup pipeline
  .github/workflows/docker-cleanup.yml
Due: prettier --check

ci(docker): change package-name in cleanup
  .github/workflows/docker-cleanup.yml
Due: prettier --check

chore(deps): update next.js v16
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  apps/storybook/next.config.ts
  apps/storybook/package.json
  apps/web/next-env.d.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/scripts/reportBundleSize.js
  apps/web/src/env.d.ts
  apps/web/src/proxy.ts
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  renovate.json
Due: turbo run lint --, prettier --check

ci(renovate): add turbo monorepo to config
  renovate.json
Due: prettier --check

ci(renovate): add more settings from security preset
  renovate.json
Due: prettier --check

chore(deps): update npm dependencies
  apps/storybook/package.json
  apps/web/package.json
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(eslint): update config with typescript types
  apps/storybook/eslint.config.js
  apps/web/eslint.config.js
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/react.js
  packages/eslint-config/storybook.js
Due: turbo run lint --, prettier --check

ci(renovate): remove prCreation in security preset
  renovate.json
Due: prettier --check

chore(prettier): simplify .prettierignore
  .prettierignore
Due: none

ci(renovate): npm security preset now uses datasource
  renovate.json
Due: prettier --check

chore(playwright): separate playwright configs
  .github/workflows/playwright.yml
  apps/web/playwright.prod.config.ts
Due: turbo run lint --, prettier --check

chore(pnpm): mitigate supply chain attacks
  pnpm-workspace.yaml
Due: none

chore(pnpm): remove trustPolicy
  pnpm-workspace.yaml
Due: none

chore(ts): remove internal ts config from stylelint package
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(turbo): remove globalEnv
  apps/web/turbo.json
  turbo.json
Due: prettier --check

chore(misc): remove next-env.d.ts and cleaner eslint
  .gitignore
  apps/storybook/package.json
  apps/storybook/turbo.json
  apps/web/next-env.d.ts
  apps/web/turbo.json
  packages/eslint-config/react.js
  turbo.json
Due: turbo run lint --, prettier --check

ci(renovate): add minimum 3 days release on all updates
  renovate.json
Due: prettier --check

ci(renovate): remove docker datasource minimumReleaseAge
  renovate.json
Due: prettier --check

chore(next): remove transpilePackages
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

chore(lint): no stylelint in @repo/ui
  packages/ui/.stylelintignore
Due: none

ci(zizmor): add zizmor gh action
  .github/workflows/zizmor.yml
Due: prettier --check

ci(pr-title): remove pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

ci(Mergify): configuration update
  .mergify.yml
Due: prettier --check

chore(oxfmt): migrate from prettier to oxfmt
  .gitignore
  .mergify.yml
  .oxfmtrc.json
  .prettierignore
  .vscode/extensions.json
  apps/storybook/package.json
  apps/web/.oxfmtrc
  apps/web/package.json
  apps/web/prettier.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/theme-switcher/index.tsx
  lefthook.yml
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/prettier.config.js
  packages/stylelint-config/package.json
  packages/tailwind-config/package.json
  packages/ui/.oxfmtrc.json
  packages/ui/package.json
  packages/ui/prettier.config.js
  packages/ui/src/components/button/fuzz.test.tsx
  packages/ui/src/components/button/index.stories.tsx
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/button/test.tsx
  packages/ui/src/components/dropdown-menu/index.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/src/components/theme-provider/test.tsx
  packages/ui/src/hooks/use-mounted/test.ts
  packages/ui/src/lib/fuzz.test.ts
  packages/ui/src/test-utils/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Due: turbo run lint --, prettier --check

ci(mergify): add merge queue
  .mergify.yml
Due: prettier --check

ci(renovate): update config
  renovate.json
Due: prettier --check

chore(ts): remove baseUrl in tsconfig.json
  apps/web/tsconfig.json
  packages/ui/tsconfig.json
Due: prettier --check

refactor(lint): migrate ui package from eslint to oxlint
  .oxfmtrc.json
  packages/oxlint-config/package.json
  packages/oxlint-config/src/base.ts
  packages/oxlint-config/src/next.ts
  packages/oxlint-config/src/react.ts
  packages/oxlint-config/src/storybook.ts
  packages/oxlint-config/tsconfig.json
  packages/oxlint-config/turbo.json
  packages/ui/eslint.config.js
  packages/ui/oxlint.config.ts
  packages/ui/package.json
  packages/ui/src/components/button/index.stories.tsx
  packages/ui/src/components/theme-provider/test.tsx
  packages/ui/src/lib/fuzz.test.ts
  packages/ui/src/lib/utils.test.ts
  packages/ui/src/test-utils/index.ts
  packages/ui/turbo.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

refactor(tsc): migrate from bunchee to tsdown
  packages/oxlint-config/package.json
  packages/oxlint-config/tsdown.config.ts
  packages/ui/package.json
  packages/ui/tsdown.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

refactor(lint): finish migration to from eslint to oxlint
  .gitignore
  .vscode/extensions.json
  apps/storybook/eslint.config.js
  apps/storybook/oxlint.config.js
  apps/storybook/package.json
  apps/web/eslint.config.js
  apps/web/next.config.ts
  apps/web/oxlint.config.js
  apps/web/package.json
  apps/web/src/app/page.tsx
  lefthook.yml
  packages/eslint-config/README.md
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/eslint-config/storybook.js
  packages/ui/package.json
  packages/ui/src/hooks/use-mounted/index.ts
  pnpm-lock.yaml
  renovate.json
Due: turbo run lint --, prettier --check

chore(vitest): address vitest issues
  apps/storybook/.storybook/vitest.setup.ts
  apps/storybook/vitest.config.ts
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(knip): add knip
  .github/workflows/lint.yml
  apps/storybook/oxlint.config.ts
  apps/storybook/package.json
  apps/storybook/turbo.json
  apps/web/oxlint.config.ts
  apps/web/playwright.config.ts
  apps/web/playwright.prod.config.ts
  apps/web/src/proxy.ts
  apps/web/turbo.json
  knip.config.ts
  lefthook.yml
  package.json
  packages/postcss-config/postcss.config.js
  packages/ui/turbo.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(ts): make @repo/oxlint-config just-in-time
  apps/storybook/turbo.json
  apps/web/turbo.json
  packages/oxlint-config/package.json
  packages/oxlint-config/src/next.ts
  packages/oxlint-config/src/react.ts
  packages/oxlint-config/src/storybook.ts
  packages/oxlint-config/tsdown.config.ts
  packages/oxlint-config/turbo.json
  packages/ui/turbo.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: prettier --check

refactor(shadcn): migrate from radix-ui to base-ui
  apps/storybook/.storybook/main.ts
  apps/web/src/app/page.tsx
  apps/web/src/components/theme-switcher/index.tsx
  packages/ui/package.json
  packages/ui/src/components/button/component.tsx
  packages/ui/src/components/button/fuzz.test.tsx
  packages/ui/src/components/button/index.ts
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/button/stories.tsx
  packages/ui/src/components/button/test.tsx
  packages/ui/src/components/button/variants.ts
  packages/ui/src/components/dropdown-menu/index.tsx
  packages/ui/src/components/dropdown-menu/stories.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/src/lib/utils/fuzz.test.ts
  packages/ui/src/lib/utils/index.ts
  packages/ui/src/lib/utils/test.ts
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(deps): remove inlinedDependencies
  packages/ui/package.json
Due: prettier --check

chore(deps): update dependency oxlint to v1.58.0
  apps/storybook/package.json
  apps/web/package.json
  packages/oxlint-config/package.json
  packages/oxlint-config/src/base.ts
  packages/oxlint-config/src/react.ts
  packages/ui/package.json
  packages/ui/src/components/theme-provider/test.tsx
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,md,mdx,json,yml})
