Repository dsm23/dsm23-next-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check

ci(zizmor): add zizmor pipeline
  .github/workflows/zizmor.yml
  .mergify.yml
Due: prettier --check

chore(filetypes): esm as default filetype
  apps/web/next.config.mjs
  apps/web/next.config.ts
  apps/web/postcss.config.js
  apps/web/tsconfig.json
  packages/ui/package.json
  packages/ui/postcss.config.js
Due: turbo run lint --, prettier --check

test(jest): add unit testing and pipeline
  .github/workflows/unit-testing.yml
  .mergify.yml
  package.json
  packages/ui/jest.config.ts
  packages/ui/jest.setup.ts
  packages/ui/package.json
  packages/ui/src/components/.gitkeep
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/button/test.tsx
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

chore(prettier): add plugins
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/prettier.config.js
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/prettier.config.js
  packages/eslint-config/react-internal.js
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/prettier.config.js
  packages/ui/src/components/button/index.tsx
  packages/ui/src/lib/utils.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(turbo): rename turbo lint cmd for staged
  .lintstagedrc
  turbo.json
Due: prettier --check

chore(stylelint): add stylelint
  .gitignore
  .lintstagedrc
  .npmrc
  .vscode/extensions.json
  apps/web/.stylelintignore
  apps/web/package.json
  apps/web/stylelint.config.js
  packages/stylelint-config/package.json
  packages/stylelint-config/stylelint.config.ts
  packages/stylelint-config/tsconfig.json
  packages/ui/.stylelintignore
  packages/ui/package.json
  packages/ui/src/styles/globals.css
  packages/ui/stylelint.config.js
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

fix(npmrc): missing quotation mark
  .npmrc
Due: none

ci(renovate): add config
  renovate.json
Due: prettier --check

chore(zod): remove zod
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

feat(dropdown): add shadcn dropdown components
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/src/components/dropdown-menu/index.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/src/test-utils/index.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

fix(url): dom-testing-library comment url
  packages/ui/src/components/dropdown-menu/test.tsx
Due: turbo run lint --, prettier --check

chore(tsconfig): add verbatimModuleSyntax to tsconfig
  packages/typescript-config/base.json
  packages/ui/jest.config.js
  packages/ui/package.json
Due: turbo run lint --, prettier --check

feat(dark mode): add theme switch components
  apps/web/components/theme-switcher/index.tsx
  packages/ui/src/components/theme-provider/index.tsx
  packages/ui/src/components/theme-provider/test.tsx
Due: turbo run lint --, prettier --check

feat(page): add page contents from blazity template
  apps/web/app/page.tsx
  apps/web/components.json
  packages/stylelint-config/stylelint.config.ts
  packages/ui/components.json
  packages/ui/src/components/button/index.tsx
  packages/ui/src/styles/globals.css
Due: turbo run lint --, prettier --check

feat(dark mode): add toggle
  apps/web/app/layout.tsx
  apps/web/components/providers.tsx
Due: turbo run lint --, prettier --check

ci(analyze): analyze and report bundle size
  .github/workflows/nextjs_bundle_analysis.yml
  .mergify.yml
  apps/web/env.d.ts
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/scripts/reportBundleSize.js
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

chore(src): src folder in nextjs app
  apps/web/src/app/favicon.ico
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/.gitkeep
  apps/web/src/components/theme-switcher/index.tsx
  apps/web/src/env.d.ts
  apps/web/src/hooks/.gitkeep
  apps/web/src/lib/.gitkeep
Due: turbo run lint --, prettier --check

feat(health check): add health check
  .github/workflows/nextjs_bundle_analysis.yml
  apps/web/next.config.ts
  apps/web/src/app/api/health/route.ts
Due: turbo run lint --, prettier --check

chore(import alias): update import alias
  apps/web/src/app/layout.tsx
  apps/web/tsconfig.json
Due: turbo run lint --, prettier --check

test(playwright): add playwright
  .github/workflows/playwright.yml
  .gitignore
  .mergify.yml
  apps/web/package.json
  apps/web/playwright-tests/example.spec.ts
  apps/web/playwright.config.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

chore(ts-reset): add @total-typescript/ts-reset
  apps/web/package.json
  apps/web/src/reset.d.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(git checkout): add persist-credentials -> false
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

ci(deps-review): update deps-review
  .github/workflows/dependency-review.yml
Due: prettier --check

ci(mkdirp): remove mkdirp in favour of built-in APIs
  apps/web/package.json
  apps/web/scripts/reportBundleSize.js
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(docker): add Dockerfile and pipeline
  .dockerignore
  .github/workflows/docker.yml
  .mergify.yml
  apps/web/Dockerfile
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/public/.gitkeep
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(bundle analysis): edit bundlesize comment
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

chore(gitattributes): add .gitattributes
  .gitattributes
Due: none

chore(gzip-size): remove gzip-size
  apps/web/package.json
  apps/web/scripts/reportBundleSize.js
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(unit-testing): force color env var
  .github/workflows/unit-testing.yml
  packages/ui/package.json
Due: prettier --check

ci(renovate): update config to rebase on patch
  renovate.json
Due: prettier --check

ci(pr-title): add pr-title pipeline
  .github/workflows/pr-title.yml
  .mergify.yml
Due: prettier --check

chore(docker): add outputFileTracingRoot
  apps/web/Dockerfile
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

ci(mergify): remove no. success checks
  .github/workflows/playwright.yml
  .mergify.yml
Due: prettier --check

ci(mergify): fix syntax
  .mergify.yml
Due: prettier --check

chore(codeql): fix incorrect version label
  .github/workflows/codeql.yml
Due: prettier --check

ci(node setup): update node-based gh actions
  .github/actions/setup/action.yml
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update node to v24.0.2
  .nvmrc
  apps/web/Dockerfile
Due: none

chore(vscode): vscode extension name change
  .gitignore
Due: none

ci(codeql): add codeql for gh actions
  .github/workflows/codeql.yml
  .mergify.yml
Due: prettier --check

ci(permissions): add missing gh actions permissions
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,md,mdx,json,yml})
