Repository dsm23/dsm23-next-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check

feat(csp): add content-security-policy
  apps/web/src/app/layout.tsx
  apps/web/src/components/theme-switcher/index.tsx
  apps/web/src/middleware.ts
Due: turbo run lint --, prettier --check

chore(types): add typed-query-selector
  apps/web/package.json
  apps/web/src/reset.d.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(tw-animate-css): replace tailwindcss-animate
  packages/ui/package.json
  packages/ui/src/styles/globals.css
  pnpm-lock.yaml
Due: prettier --check

docs(security): add security policy
  SECURITY.md
Due: prettier --check

ci(scorecard): add scorecard
  .github/workflows/scorecard.yml
Due: prettier --check

docs(license): add MIT license
  LICENSE
Due: none

docs(codeowners): add CODEOWNERS
  .github/CODEOWNERS
  .github/SECURITY.md
Due: prettier --check

docs(codeowners): update codeowners with mergify
  .github/CODEOWNERS
Due: none

docs(codeowners): revert to single human
  .github/CODEOWNERS
Due: none

ci(permissions): stricter gh action permissions
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/zizmor.yml
Due: prettier --check

chore(lefthook): replace husky with lefthook
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/nextjs_bundle_analysis.yml
  .github/workflows/playwright.yml
  .github/workflows/unit-testing.yml
  .husky/commit-msg
  .husky/install.js
  .husky/pre-commit
  .husky/prepare-commit-msg
  .lintstagedrc
  .npmrc
  apps/web/Dockerfile
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: turbo run lint --, prettier --check

chore(deps): pin turbo version in dockerfile
  apps/web/Dockerfile
Due: none

ci(playwright): remove reference to ubuntu noble
  .github/workflows/playwright.yml
Due: prettier --check

chore(lint): run linting checks in parallel
  apps/web/package.json
  packages/ui/package.json
Due: prettier --check

test(fuzz): add fuzzing test to button
  .github/workflows/unit-testing.yml
  packages/ui/package.json
  packages/ui/src/components/button/fuzz.test.tsx
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

test(fuzz): normalize whitespace set to false
  packages/ui/src/components/button/fuzz.test.tsx
Due: turbo run lint --, prettier --check

chore(eslint): update eslint with patterns from kitchen sink
  .eslintrc.js
  apps/web/eslint.config.js
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/ui/eslint.config.js
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(mergify): autodelete merged branches in github
  .mergify.yml
Due: prettier --check

chore(deps): update @types/node to v24.x.x
  apps/web/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(docker): separate turbo version into ARG
  apps/web/Dockerfile
  renovate.json
Due: prettier --check

chore(lefthook): remove glob pattern prettier
  lefthook.yml
Due: prettier --check

chore(lefthook): add lefthook-local.yml to .gitignore
  .gitignore
  lefthook.yml
Due: prettier --check

chore(ts): stylelint config in js
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  packages/stylelint-config/tsconfig.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lint.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(renovate): add renovate config check pipeline
  .github/workflows/renovate.yml
  .mergify.yml
Due: prettier --check

ci(renovate): add custom manager for prettier and typescript
  apps/web/prettier.config.js
  packages/eslint-config/prettier.config.js
  packages/ui/prettier.config.js
  renovate.json
Due: turbo run lint --, prettier --check

chore(css): update container styles
  packages/stylelint-config/index.js
  packages/ui/src/styles/globals.css
Due: turbo run lint --, prettier --check

chore(ui): add bunchee to build ui lib for tree-shaking
  packages/ui/package.json
  packages/ui/turbo.json
  pnpm-lock.yaml
Due: prettier --check

ci(lint): add hadolint check for Dockerfile
  .github/workflows/hadolint.yml
  .mergify.yml
  apps/web/Dockerfile
Due: prettier --check

ci(docker): use matrix strategy in gh action
  .github/workflows/docker.yml
  .github/workflows/hadolint.yml
Due: prettier --check

ci(renovate): add storybook monorepo to config
  renovate.json
Due: prettier --check

chore(vitest): switch ui package to vitest
  .github/workflows/unit-testing.yml
  apps/storybook/vitest.config.ts
  packages/ui/jest.config.js
  packages/ui/jest.setup.ts
  packages/ui/package.json
  packages/ui/src/components/button/fuzz.test.tsx
  packages/ui/src/components/button/test.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/src/components/theme-provider/test.tsx
  packages/ui/src/test-utils/index.ts
  packages/ui/vitest.config.ts
  packages/ui/vitest.setup.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(docker): simplify image name in pipeline
  .github/workflows/docker.yml
Due: prettier --check

chore(csp): add unsafe-eval to middleware for dev
  apps/web/eslint.config.js
  apps/web/src/middleware.ts
Due: turbo run lint --, prettier --check

test(playwright): test against dev and prod modes
  .github/workflows/playwright.yml
  .gitignore
  apps/web/next.config.ts
  apps/web/playwright.config.ts
Due: turbo run lint --, prettier --check

ci(playwright): merge reports
  .github/workflows/playwright.yml
  apps/web/playwright.config.ts
  pnpm-workspace.yaml
Due: turbo run lint --, prettier --check

chore(csp): improve style-src with nonce
  apps/web/src/middleware.ts
Due: turbo run lint --, prettier --check

chore(vite plugin): switch react plugin from swc
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(commitizen): remove commitizen
  .czrc
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: prettier --check

ci(playwright): set user option
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: prettier --check

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,md,mdx,json,yml})
