Repository dsm23/dsm23-next-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check

ci(build): update build pipeline config
  .github/workflows/build.yml
  turbo.json
Due: prettier --check

chore(deps): remove stylelint-selector-bem-pattern
  apps/storybook/.stylelintignore
  apps/web/.stylelintignore
  knip.config.ts
  packages/stylelint-config/index.js
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(token permissions): stricter gh actions token permissions
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-cleanup.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/hadolint.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/scorecard.yml
  .github/workflows/smoke-test.yml
  .github/workflows/types.yml
  .github/workflows/unit-testing.yml
Due: prettier --check

chore(deps): update npm dependencies
  apps/storybook/package.json
  apps/web/package.json
  package.json
  packages/tailwind-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

ci(mergify): upgrade configuration to current format
  .mergify.yml
Due: prettier --check

ci(harden-runner): remove harden-runner in playwright
  .github/workflows/playwright.yml
  .github/workflows/smoke-test.yml
Due: prettier --check

perf(docker): add hardened node image
  apps/web/Dockerfile
  renovate.json
Due: prettier --check

chore(deps): update dependency oxlint to v1.62.0
  apps/storybook/package.json
  apps/web/package.json
  packages/oxlint-config/package.json
  packages/oxlint-config/src/base.ts
  packages/oxlint-config/src/react.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(renovate): update config check pipeline
  .github/workflows/renovate.yml
Due: prettier --check

ci(renovate): override docker datasource
  renovate.json
Due: prettier --check

chore(deps): update dependency oxlint to v1.63.0
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/web/package.json
  apps/web/playwright-tests/example.spec.ts
  apps/web/src/proxy.ts
  packages/oxlint-config/package.json
  packages/stylelint-config/index.js
  packages/typescript-config/base.json
  packages/ui/package.json
  packages/ui/src/lib/utils/fuzz.test.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(deps): update pnpm to v11
  .github/actions/setup/action.yml
  .nvmrc
  apps/storybook/package.json
  apps/web/Dockerfile
  apps/web/package.json
  package.json
  packages/postcss-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --check

chore(deps): update dependency oxlint to v1.65.0
  apps/storybook/package.json
  apps/web/package.json
  packages/oxlint-config/package.json
  packages/oxlint-config/src/base.ts
  packages/oxlint-config/src/react.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(renovate): simplify to daily updates
  renovate.json
Due: prettier --check

ci(renovate): playwright group for browser updates
  renovate.json
Due: prettier --check

ci(renovate): separate major updates from group
  renovate.json
Due: prettier --check

ci(ubuntu): return to ubuntu-latest
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docker-cleanup.yml
  .github/workflows/docker.yml
  .github/workflows/format.yml
  .github/workflows/gitleaks.yml
  .github/workflows/hadolint.yml
  .github/workflows/lint.yml
  .github/workflows/playwright.yml
  .github/workflows/renovate.yml
  .github/workflows/smoke-test.yml
  .github/workflows/types.yml
  .github/workflows/unit-testing.yml
  .github/workflows/zizmor.yml
Due: prettier --check

chore(dropdown): closeOnClick defaults to true
  packages/ui/src/components/dropdown-menu/index.tsx
Due: turbo run lint --, prettier --check

chore(deps): update all non-major dependencies
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/web/Dockerfile
  apps/web/package.json
  package.json
  packages/oxlint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(renovate): remove non-major updates from merge queue
  .mergify.yml
  renovate.json
Due: prettier --check

ci(docker): add renovate comment above dhi.io/node line
  apps/web/Dockerfile
Due: none

ci(docker): add hardcode compatibility in Dockerfile versioning regex
  apps/web/Dockerfile
Due: none

ci(renovate): add host rules
  apps/web/Dockerfile
  renovate.json
Due: prettier --check

ci(mergify): remove merge unused condition
  .mergify.yml
Due: prettier --check

Path conditions:
  turbo run lint --: any of: **/*.{js,mjs,ts,tsx}
  prettier --check: (any of: **/*.{js,mjs,ts,tsx}) or (any of: **/*.{css,md,mdx,json,yml})
