Repository dsm23/dsm23-next-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: turbo run lint --, prettier --check

.lintstagedrc:

{
  "**/*.{js,mjs,ts,tsx}": ["turbo run lint --", "prettier --check"],
  "**/*.{css,md,mdx,json,yml}": ["prettier --check"]
}

ci(renovate): use renovate docker image instead of pnpm
  .github/workflows/renovate.yml
Due: prettier --check

chore(workspaces): change workspace declaratinons
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(deps): remove duplicate deps declarations
  apps/storybook/package.json
  apps/web/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(workspaces): rename @workspace to @repo
  README.md
  apps/storybook/.storybook/preview.ts
  apps/storybook/eslint.config.js
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/src/stories/button.stories.tsx
  apps/storybook/tsconfig.json
  apps/web/components.json
  apps/web/eslint.config.js
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/theme-switcher/index.tsx
  apps/web/stylelint.config.js
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  packages/stylelint-config/package.json
  packages/typescript-config/README.md
  packages/typescript-config/package.json
  packages/ui/components.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/button/index.tsx
  packages/ui/src/components/dropdown-menu/index.tsx
  packages/ui/src/components/dropdown-menu/test.tsx
  packages/ui/stylelint.config.js
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: turbo run lint --, prettier --check

chore(bunchee): reverse module and commonjs
  packages/ui/package.json
Due: prettier --check

chore(ui): react deps as peerDependencies
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(turbopack): add turbopack to build script
  apps/web/package.json
Due: prettier --check

chore(docker): remove duplicate user change
  apps/web/Dockerfile
Due: none

chore(next app): add strict mode in next app
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

ci(bundle analysis): add matrix strategy
  .github/workflows/nextjs_bundle_analysis.yml
  apps/web/scripts/reportBundleSize.js
Due: turbo run lint --, prettier --check

chore(next config): switch to modern dirname
  .github/workflows/nextjs_bundle_analysis.yml
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

ci(bundle analysis): compare contents from artfifact
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

ci(bundle analysis): set working-directory for 2 steps
  .github/workflows/nextjs_bundle_analysis.yml
  apps/web/scripts/reportBundleSize.js
Due: turbo run lint --, prettier --check

ci(renovate): add custom manager for dawidd6/action-download-artifact
  .github/workflows/nextjs_bundle_analysis.yml
  renovate.json
Due: prettier --check

ci(renovate): fix regex in custom manager
  renovate.json
Due: prettier --check

ci(bundle analysis): remove SKIP_ENV_VALIDATION env
  .github/workflows/nextjs_bundle_analysis.yml
Due: prettier --check

ci(smoke-test): uncomment test step
  .github/workflows/smoke-test.yml
  .mergify.yml
  apps/storybook/package.json
  apps/storybook/src/stories/button.stories.tsx
  apps/storybook/src/stories/button.tsx
  apps/web/next-env.d.ts
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

test(utils): add fuzz test for cn in utils
  packages/ui/src/lib/fuzz.test.ts
  packages/ui/src/lib/utils.test.ts
Due: turbo run lint --, prettier --check

chore(storybook): colocate stories in @repo/ui
  .github/workflows/build.yml
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  apps/storybook/src/stories/button.tsx
  apps/storybook/turbo.json
  apps/storybook/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/components/button/index.stories.tsx
  packages/ui/src/components/button/index.tsx
  pnpm-lock.yaml
  turbo.json
Due: turbo run lint --, prettier --check

chore(config): import.meta.dirname
  apps/storybook/vitest.config.ts
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

chore(next config): add typedRoutes
  apps/web/next.config.ts
Due: turbo run lint --, prettier --check

chore(eslint): next lint is deprecated
  apps/storybook/package.json
  apps/web/package.json
  packages/eslint-config/base.js
  packages/eslint-config/next.js
Due: turbo run lint --, prettier --check

chore(deps): update react packages
  apps/storybook/package.json
  apps/web/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

chore(pnpm): add savePrefix to workspace
  pnpm-workspace.yaml
Due: none

ci(types): add types check pipeline
  .github/workflows/types.yml
  .mergify.yml
  apps/storybook/tsconfig.json
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  tsconfig.json
Due: prettier --check

chore(tailwind): move tailwind and postcss config
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/styles.css
  apps/storybook/package.json
  apps/storybook/postcss.config.js
  apps/storybook/stylelint.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/app/layout.tsx
  apps/web/src/app/styles.css
  packages/postcss-config/package.json
  packages/postcss-config/postcss.config.js
  packages/tailwind-config/globals.css
  packages/tailwind-config/package.json
  packages/tailwind-config/stylelint.config.js
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

chore(bunchee): add bunchee lint
  apps/storybook/.stylelintignore
  packages/ui/package.json
Due: prettier --check

chore(transit): introduce transit pattern for check-types
  apps/web/package.json
  apps/web/tsconfig.json
  turbo.json
Due: prettier --check

chore(turbo): introduce with in web dev for hot reload
  apps/web/turbo.json
  turbo.json
Due: prettier --check

chore(turbo): remove e2e build step for web
  apps/web/turbo.json
Due: prettier --check

ci(renovate): add security presets to config
  renovate.json
Due: prettier --check

chore(deps): remove unused @turbo/gen
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --check

ci(renovate): update dowload artifact custom manager
  renovate.json
Due: prettier --check

chore: add useMounted react hook
  apps/web/src/components/theme-switcher/index.tsx
  packages/ui/package.json
  packages/ui/src/hooks/.gitkeep
  packages/ui/src/hooks/use-mounted/index.ts
  packages/ui/src/hooks/use-mounted/test.ts
Due: turbo run lint --, prettier --check

ci(renovate): use config:best-practices
  renovate.json
Due: prettier --check

chore(deps): update js unit test packages to v4
  apps/storybook/package.json
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.shims.d.ts
  packages/ui/package.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

test(healthcheck): add healthcheck
  apps/web/playwright-tests/healthcheck.spec.ts
Due: turbo run lint --, prettier --check

chore(button): update from shadcn
  .github/workflows/smoke-test.yml
  apps/storybook/turbo.json
  packages/ui/src/components/button/index.tsx
Due: turbo run lint --, prettier --check

chore(deps): update storybook monorepo to v10
  apps/storybook/.storybook/main.ts
  apps/storybook/package.json
  packages/eslint-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: turbo run lint --, prettier --check

ci(renovate): combine npm datasource and manager release age
  renovate.json
Due: prettier --check
